<div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/welcome']">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
</div><!-- End Page Title -->
<div class="justify-content-center justify-content-between text-center mt-3">
    <img src="assets/img/book.png" alt="Profile" style="  width: 25%;height: auto; display: block;
        margin-left: auto;
        margin-right: auto;margin-bottom: 20px;">
    <p >Bienvenue sur  
        <span style="font-weight: bold;color: #03215E;">
            <img src="assets/img/logo.png" alt="" width="25">
            ISIMemory
        </span>
        <span class="d-none d-lg-block">Votre plateforme dédiée au partage et à la découverte des mémoires de soutenance.</span>
    </p>

</div>
