<div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/welcome']">Home</a></li>
        <li class="breadcrumb-item active">Create-Expert</li>
      </ol>
    </nav>
  </div>
  <div class="container py-1 h-100">
    <div class="row  d-flex align-items-center justify-content-center h-100">
      <div class="col-md-auto col-lg-8 col-xl-7 offset-xl-1" style="display: flex;
      flex-direction: column;
      height: 100%; /* Ou une hauteur spécifique si nécessaire */
      width: 75%; padding: 20px;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">New expert</h5>
            <form class="row g-3" (ngSubmit)="onSubmit()" #expertForm="ngForm">
              <div class="col-12">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" class="form-control" id="nom" [(ngModel)]="expert.nom" name="nom" required>
                
              </div>
              <div class="col-12">
                <label for="prenom" class="form-label">Prenom</label>
                <input type="text" class="form-control" id="prenom"  [(ngModel)]="expert.prenom" name="prenom" required>
                
              </div>
              <div class="col-12">
                <label for="specialite" class="form-label">Specialite</label>
                <input type="text" class="form-control" id="specialite"  [(ngModel)]="expert.specialite" name="specialite" required>
                
              </div>           
              <button type="submit" class="btn btn-primary" [disabled]="!expertForm.form.valid">Enregistrer</button>   
            </form>
  
          </div>
        </div>
        <div class="row mb-1">
          <div> 
              <a [routerLink]="['/listExpert']" style="color: #18A8D8;">
                  <i class="bi bi-arrow-right-circle" style="font-size: 1.25rem;"></i>
                  Back to list
              </a>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  