
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center ">
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1" style="box-shadow:  0 4px 8px rgba(17, 15, 15, 0.1);box-sizing: border-box;">
          <div class="text-center mt-4">
              <h5>Ajout Expert</h5>
          </div>
          <form>
            <!--  Prenom -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example13">Prenom</label>
              <input type="text" id="form1Example13" class="form-control form-control-lg" />
            </div>
  
            <!-- Nom -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example23">Nom</label>
              <input type="text" id="form1Example23" class="form-control form-control-lg" />
            </div>
            
              <!-- Phone -->
             <div class="form-outline mb-4">
                <label class="form-label" for="form1Example23">Specialite</label>
                <input type="text" id="form1Example23" class="form-control form-control-lg" />
              </div>

            <!-- Submit button -->
            <!-- <button type="submit" class="btn btn-primary btn-lg btn-block d-flex justify-content-around mb-4">Enregistrer</button> -->
            <div class="d-flex justify-content-center mt-2">
                <button class="btn btn-primary">Enregistrer</button>
            </div>
           
          </form>
           
          <div class="row mb-1">
            <div> 
                <p (click)="navigateToListExpert()" style="color: #18A8D8;">
                    <i class="bi bi-arrow-right-circle-fill" style="font-size: 1.25rem;"></i> 
                    Back to list
                </p>
            </div>
        </div>
        </div>
        
      </div>
    </div>
  </section>
